* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #222;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF ;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu a {
    color:white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-menu a:hover {
    text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF ;
}

.hero {
    height: 100vh;
    background: linear-gradient(to right, #00FFFF, white);
    color: #222;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: white;
    color: #222;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: #222;
    color: white;
}

.about {
    height: 100vh;
    padding: 60px 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    margin: 20px auto;
    padding: 20px;
    width: 250px;
    border: 1px solid #00FFFF;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.contact {
    height: 93vh;
    padding: 60px 30px;
    background: #00FFFF;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


form {
    max-width: 400px;
    margin: auto;
}

input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

input:hover, textarea:hover {
    border: 2px solid blue
}

button {
    padding: 10px;
    width: 100%;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

button:hover {
    background: #222;
}

.foot {
    text-align: center ;
    padding: 15px;
    background: #222;
    color: white;
    text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF ;
}

@media (max-width: 780px) {
    .nav-menu {
        flex-direction: column;
    }

    .nav-menu li {
        margin: 10px 0;
    }
}